<section class="about__page">
    <div class="container">
        <div class="about__header mt-5">
            <h2>Property <strong>Hub</strong> : Asset Management PaaS</h2>
        </div>
        <div class="about__body mt-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget elementum turpis. Pellentesque sed bibendum arcu. Nam nec odio ac augue commodo varius. Integer ultricies mi vitae nisi ullamcorper tempus. Ut congue, risus tristique porta bibendum, lacus felis interdum urna, in cursus dui orci sed sem. Vestibulum aliquet rhoncus ligula. Fusce sit amet dui vitae erat tempor pretium vel sed nibh. Mauris sit amet enim quis justo vestibulum eleifend. Pellentesque purus enim, vestibulum sit amet dui sed, gravida bibendum lorem. Praesent vel felis turpis. Sed pretium porta nisl, vitae efficitur ligula aliquet lobortis. Quisque pellentesque diam ac velit faucibus dapibus. Cras ultricies viverra urna id porta. Cras sollicitudin turpis vitae facilisis ultrices. Proin aliquet sed tortor gravida egestas. Vestibulum sit amet felis condimentum, ornare leo ac, scelerisque tellus.</p>
        </div>
    </div>

</section>